<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.shipments.any? %>
      <h3>Shipments (<%= @user.shipments.count %>)</h3>
      <ol class="shipments">
        <%= render @shipments %>
      </ol>
      <%= will_paginate @shipments %>
    <% end %>
  </div>
</div>